server:
  port: 8080
  base_url: http://localhost:8080

debug: true

log:
  level: debug
  path: logs/log.log

rate_limit:
  max: 100 # requests per minute

upload:
  dir: upload
  max_size: 10485760 # 10MB

jwt:
  secret: qhkxjrRmYcVYKSEobqsvhxhtPVeTWquu
  expiration: 525600 # minutes

users:
  user1: password1
