server:
  port: 8080

site:
  brand: Go-Gin
  description: A simple web application using Go and Gin
  base_url: http://localhost:8080

debug: true

log:
  level: debug
  path: logs/go-gin.log

db_path: db/go-gin.sqlite

rate_limit:
  max: 100 # requests per minute

upload:
  dir: upload
  max_size: 10485760 # 10MB

jwt:
  access_secret: qhkxjrRmYcVYKSEobqsvhxhtPVeTWquu
  refresh_secret: qhkxjrRmYcVYKSEobqsvhxhtPV3TWquu
  access_token_expiration: 60 # minutes
  refresh_token_expiration: 720 # minutes
  access_token_cookie_name: go-gin-access
  refresh_token_cookie_name: go-gin-refresh
