{{ define "user/post" }}
{{template "base/header" .}}
  <form class="gogin-form">
      <h1>Post Message</h1>
      <label for="title">title</label>
      <input type="text" id="title" name="title" required placeholder="title"/>
      <label for="author">author</label>
      <input type="text" id="author" name="author" required placeholder="author"/>
      <label for="content">content</label>
      <textarea id="content" name="content" required placeholder="message"></textarea>
      <input type="submit" value="Login">
  </form>
{{template "base/footer" .}}
{{ end }}
