{{ define "user/profile" }}
{{template "base/header" .}}
  <div class="profile-header">
      <h1>User: {{ .User.UserName }}</h1>
      <div>
          <button onclick="location.href='{{ .Conf.Site.BaseURL }}/api/v1/user/logout?page=1'">Logout</button>
          <button onclick="location.href='{{ .Conf.Site.BaseURL }}/user/post'">Post</button>
      </div>
  </div>
  {{ $baseURL := .Conf.Site.BaseURL }}
  {{ range .Posts }}
  <div class="one-post">
      <h2>{{ .Title }}</h2>
      <p>CreatedAt: {{ .CreatedAt | tsf }}</p>
      <button>Del</button>
      <button>Edit</button>
      <button onclick="location.href='{{ $baseURL }}/post/{{ .ID }}'">View</button>
  </div>
  {{ end }}
{{template "base/footer" .}}
{{ end }}
