[Unit]
Description=go-gin service
After=syslog.target

[Service]
Restart=on-failure
RestartSec=10s
WorkingDirectory=/opt/go-gin
ExecStart=/opt/go-gin/go-gin -c go-gin

[Install]
WantedBy=multi-user.target
