{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoGin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>
  .centered-text {
    padding: 0 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 98vh;
    overflow: hidden;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
</style>
<div class="centered-text"><b>GO GIN</b></div>
</body>
</html>
{{ end }}
