{{ define "login" }}
{{template "base/header" .}}
    <form class="gogin-form">
        <h1>Go-Gin Login</h1>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
        <input type="button" value="Register" onclick="location.href='{{ .Conf.Site.BaseURL }}/register'">
        <input type="button" value="Back to home" onclick="location.href='{{ .Conf.Site.BaseURL }}/'">
    </form>
{{template "base/footer" .}}
{{ end }}
