{{ define "register" }}
{{template "base/header" .}}
    <form class="gogin-form">
        <h1>Go-Gin Register</h1>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <input type="submit" value="Register">
        <input type="button" value="Login" onclick="location.href='{{ .Conf.Site.BaseURL }}/login'">
        <input type="button" value="Back to home" onclick="location.href='{{ .Conf.Site.BaseURL }}/'">
    </form>
{{template "base/footer" .}}
{{ end }}
